# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Env / secrets
.env
.env.local
.env.*.local

# Node (if added later)
node_modules/
dist/
.cache/

# Firebase local
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
